.spot
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(   '  {{  url_for('static',filename=' images/l9.JPG  ')}}'   );
	height: 600px;

}
*{
    		  margin: 0; padding: 0;font-family: 'Josefin Sans', sans-serif;
    	 }
      .carousel-inner img 
          {
              width: 100%;
              height: 600px;
          }
.spot1
{
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('  {{  url_for('static',filename='  images/l16.JPG'   )}}   ');
	height: 600px;

}