<!DOCTYPE html>
<html>
<head>
  <title>Option</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <header>
<!-- Grey with black text -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">E-Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
      <a class="nav-link" href="index.html">Home </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="option.html">Option</a>
       </li>
     
      <li class="nav-item">
        <a class="nav-link" href="about.html">About</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron spot1">
  <div class="container">
    <h1 class="text-white text-center">E-library</h1>
    <p class="text-white text-center">Options E-Library</p>
  </div>
</div>
</header>
<!--option started-->
<section>
<div class="container">
  <h1 class="text-center text-capitalize pt-5">options</h1>
  <hr class="w-25 mx-auto pt-5">
<!--row 1-->
  <div class="row mb-5"> 
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card" style="width: 18rem;">
          <img src="images/l8.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
          <h5 class="card-title">MCA-3rd</h5>
         
          <p class="card-text">MCA 3rd Semester Book.</p>
          <button class="btn btn-primary" data-toggle="modal" data-target="#m3rd">Click </button>
        </div>
    </div>  
    <!-- The Modal -->
  <div class="modal fade" id="m3rd">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header ">
          <h4 class="modal-title">MCA 3rd Sem Books </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body bg-dark ">
          <form action="/action_page.php">
            <button type="submit" class="btn btn-primary btn-lg mb-4" >Java Technologies</button><br>
            <button type="submit" class="btn btn-primary btn-lg mb-4" >Web Technologies</button><a href="Web_Technology.pdf"></a><br>
            <button type="submit" class="btn btn-primary btn-lg mb-4" href="#">Computer Graphics</button><br>
            <button type="submit" class="btn btn-primary btn-lg mb-4" href="#">Advance Database System</button><br>
            <button type="submit" class="btn btn-primary btn-lg mb-4" href="#">Theory of Computation</button><br>
          </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card" style="width: 18rem;">
          <img src="images/l10.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
          <h5 class="card-title">MCA-4th</h5>
          <p class="card-text">MCA 4th Semester Book.</p>
          <button class="btn btn-primary" data-toggle="modal" data-target="#m4th">Click </button>
    </div>
  </div>
     <div class="modal fade" id="m4th">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header ">
          <h4 class="modal-title">MCA 4th Sem Books </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body bg-dark ">
          <form action="/action_page.php">
            <button type="submit" class="btn btn-primary btn-lg mb-4" href="#">Software Engineering & UML</button><br>
            <button type="submit" class="btn btn-primary btn-lg mb-4" href="#">.Net Framework and Programming  in ASP.Net</button><br>
            <button type="submit" class="btn btn-primary btn-lg mb-4" href="#">Open Source Operating System</button><br>
            <button type="submit" class="btn btn-primary btn-lg mb-4" href="#">Artificial Intelligence</button><br>
            <button type="button" class="btn btn-primary dropdown-toggle btn-lg mb-4" data-toggle="dropdown">
               Elective 1**
            </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Data mining & Data warehousing</a>
                <a class="dropdown-item" href="#">Information Protection & Security</a>
                <a class="dropdown-item" href="#">Software Computing </a>
                <a class="dropdown-item" href="#">Mobile Applicaion Development</a>
                <a class="dropdown-item" href="#">E-Commerce</a>
              </div>
          </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>  
  </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card" style="width: 18rem;">
          <img src="images/l13.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">MCA-5th</h5>
            <p class="card-text">MCA 5th Semester Book.</p>
            
            <button class="btn btn-primary" data-toggle="modal" data-target="#m5th">Click </button>
            </div>
      </div>
       <div class="modal fade" id="m5th">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header ">
          <h4 class="modal-title">MCA 5th Sem Books </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body bg-dark ">
          <form action="/action_page.php">
            <button type="submit" class="btn btn-primary btn-lg mb-4" href="book/Cloud Computing & Service oriented.pdf">cloud & service oriented Architecture</button><br>
            <button type="submit" class="btn btn-primary btn-lg mb-4" href="#">Analysis and design of algorithms</button><br>
            <button type="submit" class="btn btn-primary btn-lg mb-4" href="#">Wireless Technologies</button><br>
            
            <button type="button" class="btn btn-primary dropdown-toggle btn-lg mb-4" data-toggle="dropdown">
               Elective 2**
            </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Big data Technologies & Analytics</a>
                <a class="dropdown-item" href="#">Cyber Security & Quantum cryptography</a>
                <a class="dropdown-item" href="#">Bio-Informatics</a>
                <a class="dropdown-item" href="#">Mobile Operating System</a>
                <a class="dropdown-item" href="#">ERP Systems</a>
              </div>
          <div class="dropdown">
              <button type="button" class="btn btn-primary dropdown-toggle btn-lg mb-4" data-toggle="dropdown">
                Elective 3**
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="book/AI.pdf">DataBase Intensive Computing & Security</a>
                <a class="dropdown-item" href="book/Cryptography.pdf">Cryptography</a>
                <a class="dropdown-item" href="book/Artificial neural networks.pdf">Artificial Neural Networks</a>
                <a class="dropdown-item" href="book/embedded system.pdf">Embedded System</a>
                <a class="dropdown-item" href="book/WebMining.pdf">Web Mining</a>

              
              </div>
  </div><br>
          </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>    
    </div>
</div>
<!--2nd option-->
<div class="row mb-5"> 
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card" style="width: 18rem;">
          <img src="images/l7.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
          <h5 class="card-title">Syllabus</h5>
          <p class="card-text">MCA RTU Syllabus All Semester.</p>
          <a href="I:/MCA.pdf" class="btn btn-primary text">Click</a>
        </div>
    </div>  
  </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card" style="width: 18rem;">
          <img src="images/paper.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
          <h5 class="card-title">MCA Papers</h5>
          <p class="card-text">MCA Previous Year Papers.</p>
          <a href="#" class="btn btn-primary text">Click</a>
        </div>
    </div>  
  </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card" style="width: 18rem;">
          <img src="images/online.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">Online Topics</h5>
            <br>
            <p class="card-text">Search MCA All topics Website </p><br>
            <button class="btn btn-primary" data-toggle="modal" data-target="#onlines">Click </button>
            </div>
      </div>
      <div class="modal fade" id="onlines">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header ">
          <h4 class="modal-title">Online websites </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body bg-dark ">
          <form action="">
          <a href="https://www.javatpoint.com/" class="btn btn-primary btn-lg active mb-4" role="button" aria-pressed="true">Javatpoint</a><br>
            <a href="https://www.tutorialspoint.com/index.htm" class="btn btn-primary btn-lg active mb-4" role="button" aria-pressed="true">Tutorialspoint</a><br>
            </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>  
  </div>

</div>
</div>

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>